@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  /* ### Primary */
  --Very-Dark-Blue: hsl(243, 87%, 12%);
  --Desaturated-Blue: hsl(238, 22%, 44%);
  /* ### Accent */
  --Bright-Blue: hsl(224, 93%, 58%);
  --Moderate-Cyan: hsl(170, 45%, 43%);
  /* ### Neutral */
  --Light-Grayish-Blue: hsl(240, 75%, 98%);
  --Light-Gray: hsl(0, 0%, 75%);
}

body {
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
.btn {
  font-family: 'Raleway', sans-serif;
}

img {
  max-width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 4rem;
  gap: 2rem;
}

.navbar ul {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.navbar ul li a {
  color: var(--Very-Dark-Blue);
  font-family: 'Raleway', sans-serif;
}

.navbar img {
  max-width: 5rem;
}

#home .row,
#team .row {
  display: grid;
  padding: 8rem 0;
  row-gap: 5rem;
}

#home .row img {
  grid-column: 1/2;
  grid-row: 1/2;
}

#home .row .col {
  text-align: center;
}

#home .row .col h1 {
  font-size: 1.8rem;
  line-height: 1.4;
  color: var(--Very-Dark-Blue);
}

#home .row .col p {
  margin: 1.8rem 0;
  font-size: 1.1rem;
  color: var(--Very-Dark-Blue);
}

#home .row .col input {
  padding: 0.625rem 0.9375rem;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--Very-Dark-Blue);
}

#home .row .col .btn {
  padding: 0.625rem 0;
  background: var(--Bright-Blue);
  border: none;
  border-radius: 0.1875rem;
  cursor: pointer;
  width: 90%;
  color: var(--Light-Grayish-Blue);
  font-size: 1.1rem;
  font-weight: 700;
}

#home .row .col .btn:hover {
  background: hsla(224, 93%, 58%, 0.7);
}

.email__check {
  font-size: 0.8rem !important;
  margin: 0 !important;
  display: none;
  color: red !important;
}

/* DON'T FORGET TO FIX THIS */

.btn:hover + .email__check {
  display: block !important;
}

#team {
  padding: 1.5rem;
  background: url('images/bg-curve-mobile.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#team .row .col h2 {
  color: var(--Very-Dark-Blue);
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}

#team .row .col p {
  margin-bottom: 1rem;
  color: var(--Very-Dark-Blue);
}

#team .row .col a {
  color: var(--Moderate-Cyan);
  text-decoration: underline;
  display: block;
  text-align: center;
  margin-bottom: 2rem;
}

.box {
  padding: 1rem;
  background: #fff;
  box-shadow: 5px 3px 4px var(--Light-Gray);
  width: 90%;
  margin: 0 auto;
}

.box blockquote {
  margin-bottom: 1rem;
}

#team .avatar {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#team .avatar img {
  width: 3rem;
  border-radius: 50%;
}

#team .avatar p {
  margin-bottom: 0 !important;
  font-size: 1rem !important;
}

#team .avatar h3 {
  margin-bottom: 0.5rem;
}

#sign__in {
  background: var(--Desaturated-Blue);
  padding: 3rem 2rem;
  color: var(--Light-Grayish-Blue);
  display: grid;
  gap: 3rem;
  text-align: center;
}

#sign__in input {
  display: block;
  padding: 1rem 0.9375rem;
  width: 100%;
}

#sign__in p {
  margin-bottom: 1rem;
}

#sign__in h3 {
  margin-bottom: 2rem;
}

#sign__in .btn {
  padding: 1rem 1.5rem;
  background: var(--Bright-Blue);
  border: none;
  border-radius: 0.1875rem;
  cursor: pointer;
  width: 100%;
  color: var(--Light-Grayish-Blue);
}

#sign__in .btn:hover {
  background: hsla(224, 93%, 58%, 0.7);
}

footer {
  background: var(--Very-Dark-Blue);
  padding: 3rem 1rem;
  width: 100%;
}

footer a,
footer p {
  color: var(--Light-Grayish-Blue);
}

footer a:hover {
  color: var(--Bright-Blue);
}

.logo {
  filter: brightness(0) invert(1);
  margin-left: 0;
  margin-bottom: 2rem;
}

footer .container .about a {
  display: block;
  margin-bottom: 1rem;
}

footer .contact img {
  margin-right: 1rem;
}

footer .contact {
  margin-bottom: 3rem;
}

footer .contact p {
  margin-bottom: 1rem;
}

footer .about div {
  margin-bottom: 3rem;
}

.social {
  display: flex;
  justify-content: center;
}

.social div {
  margin-right: 0.5rem;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 600px) {
  .container {
    margin: 0 5rem;
  }
  .navbar {
    justify-content: space-between;
  }
  #home .row,
  #team .row {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
  }
  #home .row img {
    grid-column: 2/3;
  }
  #home .row .col,
  #team .row .col h2 {
    text-align: start;
  }
  #home .row .col h1 {
    font-size: 2.2rem;
  }
  #home .row .col p {
    font-size: 1.2rem;
  }
  #home .row .col input {
    width: 18.75rem;
    margin-right: 0.9375rem;
    display: inline-block;
  }
  #home .row .col .btn {
    width: 9.375rem;
    font-weight: 400;
    font-size: 1rem;
  }
  #team .row img {
    grid-column: 2/3;
  }
  #team .row .col {
    grid-column: 1;
    grid-row: 1;
  }
  #team .row .col h2 {
    font-size: 2.2rem;
  }
  #team .row .col p {
    font-size: 1.3rem;
  }
  #team .row .col a {
    font-size: 1.3rem;
    text-align: start;
  }
  .box {
    margin-right: auto !important;
    margin-left: 0;
  }
  #sign__in {
    background: var(--Desaturated-Blue);
    padding: 4rem 5rem;
    color: var(--Light-Grayish-Blue);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    text-align: start;
  }
  #sign__in h3 {
    font-size: 2rem;
  }
  #sign__in p {
    font-size: 1.5rem;
  }
  #sign__in input {
    width: 30rem;
  }
  #sign__in .btn {
    width: 15rem;
    font-weight: 700;
  }
  footer .container {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
  .logo {
    margin-left: 5rem;
  }
  footer .container .about {
    display: flex;
    column-gap: 3rem;
  }
}

@media only screen and (width: 820px) and (height: 1180px) {
  #home .row .col h1 {
    font-size: 1.3rem;
  }
  #team .row,
  #sing__in {
    grid-template-columns: 1fr;
    row-gap: 2rem;
    column-gap: 0;
  }
  #team .row .col,
  #sign__in div:first-of-type {
    grid-column: 1/3;
  }
  #team .row .col h2 {
    font-size: 2rem;
  }
  .box {
    width: 100%;
  }
}

@media only screen and (width: 768px) and (height: 1024px) {
  #home .row .col h1 {
    font-size: 1.3rem;
  }
  #team .row,
  #sing__in {
    grid-template-columns: 1fr;
    row-gap: 2rem;
    column-gap: 0;
  }
  #team .row .col,
  #sign__in div:first-of-type {
    grid-column: 1/3;
  }
  #team .row .col h2 {
    font-size: 2rem;
  }
  .box {
    width: 100%;
  }
}

@media only screen and (width: 912px) and (height: 1368px) {
  #home .row .col h1 {
    font-size: 1.3rem;
  }
  #team .row,
  #sing__in {
    grid-template-columns: 1fr;
    row-gap: 2rem;
    column-gap: 0;
  }
  #team .row .col,
  #sign__in div:first-of-type {
    grid-column: 1/3;
  }
  #team .row .col h2 {
    font-size: 2rem;
  }
  .box {
    width: 100%;
  }
}

@media only screen and (width: 1024px) and (height: 600px) {
  #team .row {
    grid-template-columns: 1fr;
    row-gap: 2rem;
    column-gap: 0;
  }
  #team .row .col {
    grid-column: 1/3;
  }
  #team .row .col h2 {
    font-size: 2rem;
  }
  .box {
    width: 100%;
  }
}
